@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme inline {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --ease-out: cubic-bezier(0.23, 1, 0.32, 1);

    --animate-toast: toast 3s var(--ease-out);

    @keyframes toast {
        0% {
            transform: translateY(0);
        }

        10% {
            transform: translateY(calc(-100% - 12px));
        }

        90% {
            transform: translateY(calc(-100% - 12px));
        }

        100% {
            transform: translateY(0);
        }
    }
}

@layer base {
    * {
        @apply font-sans no-underline transition-colors duration-200 ease-out;
    }
}

@layer components {
    * {
        @apply no-underline;
    }

    .lucide {
        --size: 1rem;
        width: var(--size) !important;
        height: var(--size) !important;
    }
    .lucide:not(.lucide-refresh-ccw) {
        fill: currentColor;
    }

    button[data-active="true"] {
        background-color: var(--color-neutral-900) !important;
    }

    button[data-active="true"] .lucide {
        color: var(--color-neutral-100) !important;
    }

    .dark button[data-active="true"] {
        background-color: var(--color-neutral-100) !important;
    }

    .dark button[data-active="true"] .lucide {
        color: #202020 !important;
    }
}
